<h1> Contacts </h1>
<!--<p>Find me in app/views/information/index.html.erb</p>-->



<p> Any mailed correspondence can be sent to the following: </p>
<address> 2525 Forest Run Drive, 
	Santa Fe, New Mexico, 87501 
</address>

<p> Human Resources: Jane Doe </p>
<p> Content Management: Erica Smith </p>
<o> Creative Director: Andy Warhol </p>

	